* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Montserrat;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100vw;
    height: 100vh;
}

#GUI {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
}